<?xml version="1.0"?>
<launch>
	<group ns="p3dx">
		<include file="$(find gazebo_plugins)/test/multi_robot_scenario/launch/pioneer3dx.gazebo.launch">
			<arg name="robot_name" value="p3dx" />
			<param name="tf_prefix" value="p3dx"/>
			<arg name="robot_position" value="-x 0.0 -y -45.0 -z 0.530 -R 0 -P 0 -Y -1.57" />
		</include>
	</group>
	<node pkg="tf" type="static_transform_publisher" name="base_to_odom_p3dx"
	args="0.0 0.0 0.0 0.0 0.0 0.0 base_link p3dx/odom 200" />
</launch>

